@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@this(digitalTrueLinks: digital_true_links)
@(email: connectors.EmailPreference)(implicit messages: Messages, hostContext: model.HostContext)

<section>
    <p id="bouncing-status-message">@Messages("manage.paperless.bounce_status") <span id="email-address">@{email.email}</span></p>

    @if(email.mailboxFull) {
        <p id="bounce-reason">@Messages("manage.paperless.bounce.reason.full")</p>
        <p id="bounce-reason-more">@Messages("manage.paperless.bounce.reason.full.more")</p>
    } else {
        <p id="bounce-reason">@Messages("manage.paperless.bounce.reason.not_full")</p>
        <p>@Messages("manage.paperless.bounce.reason.not_full.more")</p>
    }

    @digitalTrueLinks("revalidate-email-link")
</section>

