@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.emailaddress.EmailAddress
@import controllers.ExternalUrlPrefixes
@import util.Link

@this(externalUrlPrefixes: ExternalUrlPrefixes)
@(email: Option[model.Encrypted[EmailAddress]])(implicit hostContext: model.HostContext, messages: Messages)

<section>
    <h2 id="saEmailRemindersHeader">@Messages("manage.paperless.go.paperless")</h2>
    <p id="opt-out-status-message">@Messages("manage.paperless.optout")</p>
    <p>
        @Link.toInternalPage(
            id = Some("opt-in-to-digital-email-link"),
            url = externalUrlPrefixes.pfUrlPrefix + controllers.internal.paperless.routes.ChoosePaperlessController.redirectToDisplayFormWithCohort(email, hostContext),
            value = Some(Messages("manage.paperless.signup")),
            dataAttributes = Some(Map("journey-click" -> "self-assessment-preferences:Click:Sign up for paperless notifications"))
        ).toHtml
    </p>
</section>
