@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import controllers.ExternalUrlPrefixes
@import util.Link

@this(externalUrlPrefixes: ExternalUrlPrefixes)
@(changeEmailAddressLinkId: String)(implicit messages: Messages, hostContext: model.HostContext)

<p>
    @Link.toInternalPage(
        id = Some(changeEmailAddressLinkId),
        url = externalUrlPrefixes.pfUrlPrefix + controllers.internal.routes.ManagePaperlessController.displayChangeEmailAddress(None, hostContext),
        value = Some(Messages("manage.paperless.change.email")),
        dataAttributes = Some(Map("journey-click" -> "self-assessment-preferences:Click:Change your email address"))
    ).toHtml
</p>
<p>
    @Link.toInternalPage(
        id = Some("opt-out-of-email-link"),
        url = externalUrlPrefixes.pfUrlPrefix + controllers.internal.routes.ManagePaperlessController.displayStopPaperless(hostContext),
        value = Some(Messages("manage.paperless.stop.email")),
        dataAttributes = Some(Map("journey-click" -> "self-assessment-preferences:Click:Stop emails from HMRC"))
    )(messages).toHtml
</p>
