@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import controllers.auth.AuthenticatedRequest

@import uk.gov.hmrc.govukfrontend.views.html.components._
@import views.ViewHelper
@this(govukErrorSummary : GovukErrorSummary,
        govukRadios: GovukRadios,
        govukButton: GovukButton,
        govukInput: GovukInput,
        form: FormWithCSRF)

@(reOptinForm: Form[?], submitPrefsFormAction: Call)(implicit request: AuthenticatedRequest[?], messages: Messages, hostContext: model.HostContext)

@import uk.gov.hmrc.govukfrontend.views.html.components.implicits._

@emailInput = {
  @govukInput(Input(
   id = "sps-re-opt-in-email",
   name = "sps-re-opt-in-email",
   inputType = "email",
   autocomplete = Some("email"),
   label = Label(
       isPageHeading = false,
       classes = "govuk-label",
       content = Text(Messages("sa_printing_preference.sps_re_opt_in_email.label"))
   ),
   errorMessage = reOptinForm("sps-re-opt-in-email").error.map(err => ErrorMessage(content = Text(Messages(err.message, (err.args)*)))),
   classes = "govuk-!-width-two-thirds"
  ))
}

 @if(reOptinForm.hasErrors) {
  @govukErrorSummary(ErrorSummary(
   errorList = reOptinForm.errors.map( error =>
    ErrorLink(
     href = Some(s"#${error.key}"),
     content = Text(messages(error.message))
    )
   ),
   title = Text(Messages("sa_printing_preference.sps_opt_in_choice.problem"))
  ))
 }

 @form(action = submitPrefsFormAction, Symbol("id") -> "form-submit-email-address", Symbol("novalidate") -> "novalidate") {


  @govukRadios(Radios(
   fieldset = Some(Fieldset(
    legend = Some(Legend(
     content = Text(Messages("sa_printing_preference.sps_re_opt_in_email.title")),
     classes = "govuk-fieldset__legend govuk-fieldset__legend--l",
     isPageHeading = true
    ))
   )),
   hint = Some(Hint(
    content = Text(Messages("sa_printing_preference.sps_re_opt_in_email.info"))
   )),
   errorMessage = reOptinForm.errors.asTextErrorMessageForField(fieldKey = "sps-re-opt-in"),
   idPrefix = Some("sps-re-opt-in"),
   name = "sps-re-opt-in",
   items = Seq(
    RadioItem(
     content = Text(hostContext.email.getOrElse("  ")),
     value = Some("false"),
     checked = reOptinForm("sps-re-opt-in").value.contains("false")
    ),
    RadioItem(
     content = Text(Messages("sa_printing_preference.sps_re_opt_in_email.new_email")),
     value = Some("true"),
     checked = reOptinForm("sps-re-opt-in").value.contains("true"),
     conditionalHtml = Some(emailInput)
    )
   )
  ))

  <input type="hidden" id="email.mail" name="email.main" value='@reOptinForm("email.main").value' >

  @govukButton(Button(
   name = Some("submitButton"),
   inputType = Some("submit"),
   content = Text(Messages("reoptin_page54.submitButton")),
   attributes = Map(
    "id" -> "submitEmailButton",
    "data-prevent-double-click" -> "true"
   )
  ))
 }
