@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import controllers.auth.AuthenticatedRequest
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import views.ViewHelper
@import views.ViewHelper.EMAIL_RE_VERIFY

@this(govukButton: GovukButton)

@(email: String)(implicit request: AuthenticatedRequest[?], messages: Messages, hostContext: model.HostContext)

@changeEmailAddressLink = @{controllers.internal.paperless.routes.OptInController.displayOptInEmail(Some(true), hostContext.copy(journey = Some(EMAIL_RE_VERIFY))).url}
@emailInBold = {
    <span class="govuk-!-font-weight-bold">@{email.trim}</span>
}

<h1 class="govuk-heading-xl">@Messages("sa_printing_preference.sps_email_confirm")</h1>

<p class="govuk-body">@Html(Messages("sa_printing_preference.sps_email_confirm.body1", emailInBold))</p>
<p class="govuk-body">@Html(Messages("sa_printing_preference.sps_email_confirm.body2"))</p>
<p class="govuk-body">@Html(Messages("sa_printing_preference.sps_email_confirm.body3"))</p>

<div>

    @govukButton(Button(
    href = Some(controllers.internal.paperless.routes.EmailController.updateEmailVerificationStatus("Email_Re_Sent", hostContext).url),
    classes = "govuk-button",
    content = Text(Messages("sa_printing_preference.sps_email_confirm.button.close"))
    ))

    <p class="govuk-body">
        <a class="govuk-link" href="@changeEmailAddressLink">@Messages("sa_printing_preference.sps_email_confirm.another.email")</a>
    </p>

</div>

