@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import controllers.auth.AuthenticatedRequest

@this(
  iPage7: views.html.sa.prefs.cohorts.i_page7,
  iPage8: views.html.sa.prefs.cohorts.i_page8,
  iPage53: views.html.sa.prefs.cohorts.i_page53,
  iPage56: views.html.sa.prefs.cohorts.i_page56,
  reOptInPage10: views.html.sa.prefs.cohorts.reoptin_page10,
  reOptInPage52: views.html.sa.prefs.cohorts.reoptin_page52,
  reOptInPage54: views.html.sa.prefs.cohorts.reoptin_page54,
  reOptInPage55: views.html.sa.prefs.cohorts.reoptin_page55,
)
@(emailForm: Form[?], submitPrefsFormAction: Call, cohort: controllers.internal.OptInCohort)(implicit request: AuthenticatedRequest[?], messages: Messages, hostContext: model.HostContext)

@import views.html.sa.prefs.cohorts._
@import controllers.internal._

@{cohort match {
        case IPage7 => iPage7(emailForm, submitPrefsFormAction)
        case IPage8 => iPage8(emailForm, submitPrefsFormAction)
        case IPage53 => iPage53(emailForm, submitPrefsFormAction)
        case IPage56 => iPage56(emailForm, submitPrefsFormAction)
        case ReOptInPage10 => reOptInPage10(emailForm, submitPrefsFormAction)
        case ReOptInPage52 => reOptInPage52(emailForm, submitPrefsFormAction)
        case ReOptInPage54 => reOptInPage54(emailForm, submitPrefsFormAction)
        case ReOptInPage55 => reOptInPage55(emailForm, submitPrefsFormAction)
        case other => throw new Exception(s"Unexpected page: $other") 
    }
}
