@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import controllers.auth.AuthenticatedRequest

@this()
@()(implicit request: AuthenticatedRequest[?], messages: Messages, hostContext: model.HostContext)

    <header class="page-header">
        <h1 id="failure-heading" class="govuk-heading-xl">@Messages("sa_printing_preference.verification.heading.wrong_token")</h1>
    </header>
    <p id="success-message" class="govuk-body">@Messages("sa_printing_preference.verification.wrong_token.paragraph.1")</p>
