$govuk-assets-path: "/paperless/assets/lib/govuk-frontend/dist/govuk/assets/";
$hmrc-assets-path: "/paperless/assets/lib/hmrc-frontend/hmrc/";

$govuk-suppressed-warnings: (libsass, import-using-all, legacy-organisation-colours);

@import "lib/govuk-frontend/dist/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.govuk-heading-xl {
  word-break: break-word;
}

.button-as-link,
.button-as-link:hover {
  background: none!important;
  border: none;
  padding: 0!important;
  margin-bottom: 0;
  color: #1d70b8;
  box-shadow: none;
  vertical-align: baseline!important;
  text-decoration: none!important;
  line-height: 1em;
  cursor: pointer;
  width: auto;

  &.skip-link-button {
    margin-left: 0;
    width: 100%;
    line-height: 2em;
    text-decoration: none!important;

    &:hover,
    :focus {
      text-decoration: underline!important;
    }

    @media (min-width: 40.0625em) {
      width: auto;
      margin-left: 40px;
    }
  }
}



.skip-link,
.skip-link:link,
.skip-link:visited,
.skip-link:active {
  color: #1d70b8!important;
  text-decoration: none!important;
  background: none!important;
  box-shadow: none!important;

  &:hover,
  :focus {
    text-decoration: underline!important;
  }
}


  nav[aria-label="back-link"] {
   display:none;
}

.js-enabled  nav[aria-label="back-link"] {
  display: inline;
}