@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import controllers.auth.AuthenticatedRequest
@import util.Link

@this()
@(email: String)(implicit request: AuthenticatedRequest[?], messages: Messages, hostContext: model.HostContext)

    <header class="page-header">
        <h1 class="govuk-heading-xl">@Messages("account.details.verification.email.title")</h1>
    </header>
    <p id="verification-mail-message" class="govuk-body">@Html(Messages("account.details.verification.email.new_email", email))</p>
    <p class="pgovuk-body">
        @Link.toInternalPage(id = Some("return-to-dashboard-button"),
            cssClasses = Some("govuk-button"),
            url = controllers.internal.routes.ManagePaperlessController.checkSettings(hostContext).url,
            value = Some(Messages("manage.paperless.check.settings.linkText"))).toHtml
    </p>
