@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import controllers.auth.AuthenticatedRequest
@import util.Link

@this()
@(emailAddress: String)(implicit request: AuthenticatedRequest[?], messages: Messages, hostContext: model.HostContext)

    <header class="page-header">
        <h1 class="govuk-heading-xl">@Messages("account.details.update.email.thank_you.title")</h1>
    </header>

    <p class="govuk-body">@Messages("account.details.update.email.thank_you.sent_to") <span id="updated-email-address">@emailAddress</span></p>
    <p class="govuk-body" id="verification-mail-message">@Messages("account.details.update.email.thank_you.verify")</p>
    <p class="govuk-body">@Messages("account.details.update.email.thank_you.old_address")</p>
    <p class="govuk-body">
        @Link.toInternalPage(id = Some("return-to-dashboard-button"),
            cssClasses = Some("govuk-button"),
            url = controllers.internal.routes.ManagePaperlessController.checkSettings(hostContext).url,
            value = Some(Messages("manage.paperless.check.settings.linkText"))).toHtml
    </p>
