@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import controllers.auth.AuthenticatedRequest
@import util.Link

@this(govukButton: GovukButton, form: FormWithCSRF)
@(emailAddress: uk.gov.hmrc.emailaddress.ObfuscatedEmailAddress)(implicit request : AuthenticatedRequest[?], messages: Messages, hostContext: model.HostContext)

    <header class="page-header">
        <h1 class="govuk-heading-xl">@Messages("account.opt.back.out.confirmation.title")</h1>
    </header>

    <p class="govuk-body">@Messages("account.opt.back.out.confirmation.letters")</p>

    <p class="govuk-body">
        @form(action = controllers.internal.routes.ManagePaperlessController.submitStopPaperless(hostContext)) {
            @Link.toInternalPage(id = Some("cancel-link"),
                cssClasses = Some("govuk-button"),
                url = controllers.internal.routes.ManagePaperlessController.checkSettings(hostContext).url,
                value = Some(Messages("bt.account.keep_email_reminders"))).toHtml
            @govukButton(Button(
                name = Some("submitButton"),
                inputType = Some("submit"),
                classes = "govuk-button--secondary govuk-!-margin-right-1",
                content = Text(Messages("bt.account.stop_email_reminders")),
                attributes = Map(
                "id" -> "confirm-opt-out"
                )
            ))
        }
    </p>
