@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import controllers.auth.AuthenticatedRequest
@import util.Link

@this()
@()(implicit request: AuthenticatedRequest[?], messages: Messages, hostContext: model.HostContext)

    <header class="page-header">
        <h1 class="govuk-heading-xl">@Messages("opted.back.into.paperless.title")</h1>
    </header>
    <p class="govuk-body">@Messages("opted.back.into.paperless.para_1")</p>
    <p class="govuk-body">@Messages("opted.back.into.paperless.para_2")</p>
    <p class="govuk-body">@Messages("opted.back.into.paperless.para_3")</p>
    <p class="govuk-body">
        @Link.toInternalPage(id = Some("return-to-dashboard-button"), url = controllers.internal.routes.ManagePaperlessController.checkSettings(hostContext).url, value = Some(Messages("manage.paperless.check.settings.linkText"))).toHtml
    </p>

