@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import controllers.auth.AuthenticatedRequest
@import util.Link

@this(govukButton: GovukButton,  form: FormWithCSRF)
@(emailAddress: String, cohort: controllers.internal.OptInCohort, call: Call, redirectUrl: String)(implicit request : AuthenticatedRequest[?], messages: Messages, hostContext: model.HostContext)

    <header class="page-header">
        <h1 class="govuk-heading-xl">@Messages(s"sa_printing_preference.title")</h1>
        <h2 class="govuk-heading-m">@Messages("sa_printing_preferences.confirm_correct_email.title")</h2>
    </header>
    <p class="govuk-body">@Html(Messages("sa_printing_preferences.confirm_correct_email.paragraph.1", s"<span id='emailAddress'>$emailAddress</span>"))</p>

    <p class="govuk-body">
        @form(action = call, Symbol("id") -> "form-submit-preferences-verify-email") {
            @govukButton(Button(
                name = Some("submitButton"),
                inputType = Some("submit"),
                content = Text(Messages("sa_printing_preferences.confirm_correct_email.confirm")),
                attributes = Map(
                "id" -> "email-is-correct-link"
                )
            ))
            @Link.toInternalPage(id = Some("email-is-not-correct-link"),
                cssClasses = Some("govuk-button govuk-button--secondary govuk-!-margin-right-1"),
                url = redirectUrl,
                value = Some(Messages("account.details.update.email.verify.change"))).toHtml
            <input type="hidden" name="opt-in" value="true" />
            <input type="hidden" name="email.main" value="@emailAddress" />
            <input type="hidden" name="email.confirm" value="@emailAddress" />
            <input type="hidden" name="emailVerified" value="true" />
            <input type="hidden" name="accept-tc" value="true" />
        }
    </p>
