@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import model.HostContext
@import util.Link

@(mailBoxFull: Boolean, hostContext: HostContext)(implicit messages: Messages)

<details id="sa-prefs-status">
    <summary role="alert">@Messages("paperless.warnings.bounced.header") <span class="flag flag--urgent">@Messages("paperless.warnings.bounced.urgent")</span></summary>
    <div class="panel-indent">
        @if(mailBoxFull) {
            <p>@Messages("paperless.warnings.bounced.inbox.full")</p>
        }
        <p>@Messages("paperless.warnings.bounced.goto")
            @Link.toInternalPage(
            id = Some("remindersProblem"),
            url = controllers.internal.routes.ManagePaperlessController.checkSettings(hostContext).url,
            value = Some(Messages("manage.paperless.check.settings.linkText"))
            ).toHtml @Messages("paperless.warnings.bounced.more.info")</p>
    </div>
</details>
